body, h1, p, ol, li {
	list-style-type: none;
	font-size: inherit;
	padding: 0;
	margin: 0;
}

body {
	padding: 10px;
	box-sizing: border-box;
	max-width: 100ch;
	margin: 0 auto;
	font-family: 'Jetbrains Mono', monospace;
	font-size: 0.85em;
	background: #19171c;
	color: #b8b5bf;
}

h1, .header, .pending {
	font-weight: bold;
}

h1 {
	text-align: center;
}

.metadata, .row {
	display: flex;
	flex-direction: row;
	gap: 1ch;
}

.hostinfo {
	flex: 1;
}

.date {
	width: 24ch;
	text-align: right;
}

.metadata div, .row div {
	white-space: nowrap;
	overflow: hidden;
}

.metadata div:last-child {
	text-align: right;
}

.host {
	flex: 1;
}

.asn {
	max-width: 10ch;
	flex: 1;
}

.network {
	max-width: 25ch;
	flex: 1;
}

.text {
	font-family: sans-serif;
	line-height: 1.55;
	font-size: 1.1em;
	margin-top: 48px;
}

.text p {
	margin-top: 16px;
}