body, h1, p, ol, li {
	list-style-type: none;
	font-size: inherit;
	padding: 0;
	margin: 0;
}

body {
	--terminal-padding: 24px;
	--terminal-charwidth: 100ch;
	padding: 40px 10px;
	padding-top: 30px;
	box-sizing: border-box;
	max-width: var(--terminal-charwidth);
	margin: 0 auto;
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.85em;
	background: #16191d;
	color: #ced4da;
}

.header {
	display: block;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.terminal {
	background: #0e0e11;
	padding: var(--terminal-padding);
	padding-top: calc(var(--terminal-padding) - 4px);
	border-radius: 10px;
	overflow-x: visible;
}

.text {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	font-size: 1.1em;
	margin: 0 calc(var(--terminal-padding));
	margin-top: 32px;
}

h1, .table-header, .pending {
	font-weight: bold;
	color: #e9ecef;
}

h1 {
	text-align: center;
}

.metadata, .row {
	display: flex;
	flex-direction: row;
	gap: 1ch;
}

.metadata, .row, .no-response {
	position: relative;
}

.hostinfo {
	flex: 1;
}

.date {
	width: 24ch;
	text-align: right;
}

.metadata div, .row div {
	white-space: nowrap;
	overflow: hidden;
}

.metadata div:last-child {
	text-align: right;
}

.host    { flex: 1; }
.asn     { max-width: 9ch;  flex: 1; }
.network { max-width: 23ch; flex: 1; }
.country { max-width: 12ch; flex: 1; }

.landmark {
	--width: 15ch;
	position: absolute;
	text-align: right;
	width: var(--width);
	left: calc(var(--width) * -1 - 20px);
}
.landmark.you    { color: #ff6b6b; }
.landmark.server { color: #339af0; }

h2, h3 {
	margin-top: 40px;
	margin-bottom: 16px;
	color: #ffffff;
}

@media (max-width: 1050px) {
	.landmark {
		display: inline;
		position: static;
		left: 0;
	}

	.hide-when-inline-landmark {
		display: none;
	}
}

@media (max-width: 500px) {
	.country { display: none; }

	.metadata {
		flex-direction: column;
		gap: 0;
	}

	.metadata div {
		white-space: initial;
	}
}

@media (max-width: 400px) {
	.asn { display: none; }
}

.text p {
	margin-top: 16px;
}